
.first-section{
    width: 60%;

    height: 50%;
    margin: auto;
    padding: 10px 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin-bottom: 60px;

}
.first-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2;
}
.first-source-name{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.first-time{
    font-size: 1rem;
}
.first-img{
    width: 100%;
    height: 90%;
}
.first-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
 .second-section{
     width: 60%;
     margin: auto;
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 }
 .second-section li{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     box-shadow: 0 2px 8px rgba(0,0,0,0.15);
     padding: 10px;
     margin-bottom: 20px;
 }
 .list-details{
     width: 65%;
     display: flex;
     flex-direction: column;
     gap:5px;
 }
 .list-title{
     font-size: 1.5rem;
     font-weight: 600;
     cursor: pointer;
 }
 .list-source-name{
     font-size: 1rem;
     font-weight: 400;
 }
 .list-time{
     font-size: 1rem;
 }
 .list-img{
     width: 30%;
 }
 .list-img img{
     width: 100%;
     border-radius: 15px;
 }