.cat-news-box h2 {
     font-size: 2.8rem;
     font-family: 'poppins', sans-serif;
     margin-bottom: 10px;
}

.cat-news-box {
     width: 100%;
     margin: auto;
     margin-top: 10px;
}

.cat-news-list {
     margin-top: 10px;
     margin-right: 10px;
     display: flex;
     list-style: none;
     gap: 15px;
     margin-bottom: 200px;
     width: 90%;
}

.card {
     width: 250px;
     height: 380px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.15);
      padding-bottom: 5px;
      display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;

}

.img-box img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center center;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
.img-box{
     width: 100%;
     height: 300px;
     overflow: hidden;
     margin-bottom: 10px;

}
.card-news-title {
     font-weight: 100;
     width: 100%;
     max-width: 100%;
     align-self: stretch;
     text-align: left;
     height: auto;
     overflow: hidden;
}
.card-news-title span{
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: 1.5;
}
@media(max-width: 1452px){
     .cat-news-list{
        display: flex;
          flex-direction: column;
          margin: auto;
          gap: 20px;
     }
     .card{
          width: 90%;
     }
     .cat-news-box{
          margin: auto;
     }
}