.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'poppins', sans-serif;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin:auto;
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.06);
}
.NavBar-center{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 400;
}
.NavBar-center li {
    cursor: pointer;
}

.NavBar-right{
    display: flex;
    align-content: center;
    width: 120px;
    justify-content: space-between;
}
.Search-logo{
    font-size: 30px;
    align-items: center;
    cursor: pointer;
}

.login-logo img{
    width : 40px
}
.NavBar-left h1{
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 1259px) {

    .navbar{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .NavBar-left h1{
        font-size: 2rem;
    }
    .login-logo{
        display: none;
    }

    .NavBar-center li {
        font-size: 0.7rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

}
@media (max-width: 768px) {
    .NavBar-center{
        display: none;
    }
}